.calculator {
  width: 320px;
  margin: 0 auto;
  background-color: #f0f0f0;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.screen {
  width: 95%;
  height: 50px;
  font-size: 24px;
  text-align: right;
  padding: 5px;
  margin-bottom: 10px;
  outline: none;
  background-color: #fff;
  border: 2px solid;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.number {
  color: #333;
}

.operator {
  color: #fff;
  background-color: #f44336;
}

.clear {
  background-color: #ccc;
}

.equal {
  background-color: #4caf50;
  color: #fff;
}
.negativeToggle {
  color: #fff;
  background-color: #f44336;
}
.percentage {
  color: #fff;
  background-color: #f44336;
}
button:hover {
  background-color: #eee;
}

button:focus {
  outline: none;
  background-color: #ccc;
}

#delete {
  background-color: #ff9800;
}

#delete:hover {
  background-color: #f57c00;
}
